In [19]:
import pandas as pd

# Exercise 01. Basic operations

## Task 1. Create a dataframe called views with two columns: datetime and user by reading feed-views.log

In [20]:
views = pd.read_csv(
    '../data/feed-views.log', delimiter='\t', 
    names=['datetime', 'user'], header=None, engine='python'
)
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [21]:
views['datetime'] = pd.to_datetime(views['datetime'])
views['year'] = views['datetime'].dt.year
views['month'] = views['datetime'].dt.month
views['day'] = views['datetime'].dt.day
views['hour'] = views['datetime'].dt.hour
views['minute'] = views['datetime'].dt.minute
views['second'] = views['datetime'].dt.second
views

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

## Task 2. Create the new column daytime

In [22]:
bins = [0, 4, 7, 11, 17, 20, 24]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']

views['daytime'] = pd.cut(views['hour'], bins=bins, labels=labels, right=False, include_lowest=True)
views = views.set_index('user')

views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

## Task 3. Calculate the number of elements in your dataframe.

In [23]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [24]:
views['daytime'].value_counts()

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

## Task 4. Sort the values in your dataframe by hour, minute, and second

In [25]:
views.sort_values(['hour', 'minute', 'second'], inplace=True)

## Task 5. Calculate the minimum and maximum for the hours and the mode for the daytime categories

Выведем максимальный час ночи, когда юзеры пользволись сервисом:

In [26]:
max_hour__night = views.loc[views.daytime == 'night', 'hour'].max()
max_hour__night

np.int32(3)

А теперь посмотрим кто же это был...

In [27]:
views.loc[views.hour == max_hour__night, 'hour'].idxmax()

'konstantin'

Выведем в какое минимальное время с утра пользовались сервисом:

In [28]:
min_hour__morning = views.loc[views.daytime == 'morning', 'hour'].min()
min_hour__morning

np.int32(8)

И был это...

In [29]:
views.loc[views.daytime == 'morning', 'hour'].idxmin()

'alexander'

In [30]:
mode__hour = views.hour.mode()
print(f'Мода для часа: {mode__hour.tolist()[0]}')

Мода для часа: 22

In [31]:
mode__hour = views.daytime.mode()
print(f'Мода для времени суток: {mode__hour.tolist()[0]}')

Мода для времени суток: evening

## Task 6. Show the three earliest and latest hours of the day and their corresponding usernames

In [32]:
views.nsmallest(n=3, columns=['hour'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night

In [33]:
views.nlargest(n=3, columns=['hour'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
ekaterina,2020-05-14 23:02:11.327532,2020,5,14,23,2,11,evening
ekaterina,2020-05-14 23:02:14.494985,2020,5,14,23,2,14,evening
ekaterina,2020-05-14 23:02:15.588808,2020,5,14,23,2,15,evening

## Task 7. Use the describe() method to get the basic statistics for the columns

In [34]:
base_stats = views.describe()
print(base_stats)

q1 = base_stats.loc['25%', 'hour']
q3 = base_stats.loc['75%', 'hour']

iqr = q3 - q1 
print(q1, q3)
print(iqr)

                            datetime    year        month          day  \
count                           1076  1076.0  1076.000000  1076.000000
mean   2020-05-10 09:00:41.211420672  2020.0     4.870818    13.552974
min       2020-04-17 12:01:08.463179  2020.0     4.000000     1.000000
25%       2020-05-10 01:13:49.857472  2020.0     5.000000    11.000000
50%    2020-05-11 22:48:35.302552832  2020.0     5.000000    13.000000
75%    2020-05-14 14:44:34.749530624  2020.0     5.000000    15.000000
max       2020-05-22 10:36:14.662600  2020.0     5.000000    30.000000
std                              NaN     0.0     0.335557     4.906567

              hour       minute       second
count  1076.000000  1076.000000  1076.000000
mean     16.249071    29.629182    29.500929
min       0.000000     0.000000     0.000000
25%      13.000000    14.000000    14.000000
50%      19.000000    29.000000    30.000000
75%      22.000000    46.000000    45.000000
max      23.000000    59.000000    59.000000
std       6.955490    17.689388    17.405506
13.0 22.0
9.0